In [1]:
from pyspark.sql import SparkSession
import os
import configparser
from datetime import datetime
from pyspark.sql.functions import udf, col
from pyspark.sql.functions import year, month, dayofmonth, hour, weekofyear, date_format
from pyspark.sql.types import TimestampType, StringType
import  pyspark.sql.functions as F

In [2]:
# config = configparser.ConfigParser()

# config.read_file(open('dl.cfg'))

# os.environ["AWS_ACCESS_KEY_ID"]= config['AWS']['AWS_ACCESS_KEY_ID']
# os.environ["AWS_SECRET_ACCESS_KEY"]= config['AWS']['AWS_SECRET_ACCESS_KEY']
os.environ["AWS_ACCESS_KEY_ID"]= "AKIAVVYXCZ5YGKK5RHL4"
os.environ["AWS_SECRET_ACCESS_KEY"]= "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"

In [3]:
spark = SparkSession \
        .builder \
        .config("spark.jars.packages", "org.apache.hadoop:hadoop-aws:2.7.0") \
        .getOrCreate()

In [4]:
input_data = "s3a://udacity-dend/"

In [5]:
log_data = os.path.join(input_data, "log_data")

In [6]:
# read log data file
df = spark.read.json(input_data + "log_data/*/*/*")

In [7]:
df = df.filter(df["page"] != "NextSong")

In [8]:
df.show(5)

+------+----------+---------+------+-------------+--------+------+-----+--------------------+------+-----+-----------------+---------+----+------+-------------+--------------------+------+
|artist|      auth|firstName|gender|itemInSession|lastName|length|level|            location|method| page|     registration|sessionId|song|status|           ts|           userAgent|userId|
+------+----------+---------+------+-------------+--------+------+-----+--------------------+------+-----+-----------------+---------+----+------+-------------+--------------------+------+
|  null| Logged In|    Wyatt|     M|            0|   Scott|  null| free|Eureka-Arcata-For...|   GET| Home|1.540872073796E12|      563|null|   200|1542247071796|Mozilla/5.0 (Wind...|     9|
|  null| Logged In|   Austin|     M|            0| Rosales|  null| free|New York-Newark-J...|   GET| Home|1.541059521796E12|      521|null|   200|1542252577796|Mozilla/5.0 (Wind...|    12|
|  null| Logged In|   Samuel|     M|            1|Gonzalez|  null| free|Houston-The Woodl...|   GET|About|1.540492941796E12|      597|null|   200|1542253460796|"Mozilla/5.0 (Mac...|    61|
|  null|Logged Out|     null|  null|            0|    null|  null| paid|                null|   PUT|Login|             null|      602|null|   307|1542260074796|                null|      |
|  null| Logged In|    Tegan|     F|            1|  Levine|  null| paid|Portland-South Po...|   GET| Home|1.540794356796E12|      602|null|   200|1542260277796|"Mozilla/5.0 (Mac...|    80|
+------+----------+---------+------+-------------+--------+------+-----+--------------------+------+-----+-----------------+---------+----+------+-------------+--------------------+------+
only showing top 5 rows

In [11]:
# create timestamp column from original timestamp column
get_timestamp = udf(lambda x: datetime.fromtimestamp(x/1000), TimestampType())
df = df.withColumn("start_time", get_timestamp('ts'))

In [12]:
df.show(5)

+------+----------+---------+------+-------------+--------+------+-----+--------------------+------+-----+-----------------+---------+----+------+-------------+--------------------+------+--------------------+
|artist|      auth|firstName|gender|itemInSession|lastName|length|level|            location|method| page|     registration|sessionId|song|status|           ts|           userAgent|userId|          start_time|
+------+----------+---------+------+-------------+--------+------+-----+--------------------+------+-----+-----------------+---------+----+------+-------------+--------------------+------+--------------------+
|  null| Logged In|    Wyatt|     M|            0|   Scott|  null| free|Eureka-Arcata-For...|   GET| Home|1.540872073796E12|      563|null|   200|1542247071796|Mozilla/5.0 (Wind...|     9|2018-11-15 01:57:...|
|  null| Logged In|   Austin|     M|            0| Rosales|  null| free|New York-Newark-J...|   GET| Home|1.541059521796E12|      521|null|   200|1542252577796|Mozilla/5.0 (Wind...|    12|2018-11-15 03:29:...|
|  null| Logged In|   Samuel|     M|            1|Gonzalez|  null| free|Houston-The Woodl...|   GET|About|1.540492941796E12|      597|null|   200|1542253460796|"Mozilla/5.0 (Mac...|    61|2018-11-15 03:44:...|
|  null|Logged Out|     null|  null|            0|    null|  null| paid|                null|   PUT|Login|             null|      602|null|   307|1542260074796|                null|      |2018-11-15 05:34:...|
|  null| Logged In|    Tegan|     F|            1|  Levine|  null| paid|Portland-South Po...|   GET| Home|1.540794356796E12|      602|null|   200|1542260277796|"Mozilla/5.0 (Mac...|    80|2018-11-15 05:37:...|
+------+----------+---------+------+-------------+--------+------+-----+--------------------+------+-----+-----------------+---------+----+------+-------------+--------------------+------+--------------------+
only showing top 5 rows

In [13]:
df.createOrReplaceTempView("logs")

In [14]:
df.describe()

DataFrame[summary: string, artist: string, auth: string, firstName: string, gender: string, itemInSession: string, lastName: string, length: string, level: string, location: string, method: string, page: string, registration: string, sessionId: string, song: string, status: string, ts: string, userAgent: string, userId: string]

In [15]:
# extract columns for users table    
users_table = spark.sql("""
SELECT DISTINCT userId as user_id, firstName as first_name, lastName as last_name, gender, level, location, userAgent
FROM logs
""")

In [71]:
# write users table to parquet files
users_table.write.parquet("s3a://micudacity1/tables/users", "overwrite")

KeyboardInterrupt:

In [16]:
# extract columns to create time table
time_table = spark.sql("""
SELECT 
    start_time, 
    hour(start_time) AS hour,
    day(start_time) AS day,
    weekofyear(start_time) AS week,
    month(start_time) AS month,
    year(start_time) AS year, 
    weekday(start_time) AS weekday 
FROM (
    SELECT DISTINCT cast(ts/1000 as TIMESTAMP) as start_time 
    FROM logs     
    )
""")

In [17]:
time_table.show(5)

+--------------------+----+---+----+-----+----+-------+
|          start_time|hour|day|week|month|year|weekday|
+--------------------+----+---+----+-----+----+-------+
|2018-11-15 16:12:...|  16| 15|  46|   11|2018|      3|
|2018-11-26 18:25:...|  18| 26|  48|   11|2018|      0|
|2018-11-06 05:49:...|   5|  6|  45|   11|2018|      1|
|2018-11-28 10:25:...|  10| 28|  48|   11|2018|      2|
|2018-11-28 18:24:...|  18| 28|  48|   11|2018|      2|
+--------------------+----+---+----+-----+----+-------+
only showing top 5 rows

In [18]:
time_table.createOrReplaceTempView("time_table")

In [17]:
time_table.write.partitionBy("year", "month").parquet("data/tables/time", 'overwrite')

In [ ]:
# read in song data to use for songplays table
#song_df = spark.read.json("s3a://udacity-dend/song_data/*/*/*/*.json")
song_df = spark.read.json("s3a://udacity-dend/song_data/*/*/*/*.json")

In [ ]:
songs_table = spark.sql("""
    SELECT distinct song_id, title, artist_id, year, duration
    FROM songs
""")
songs_table.createOrReplaceTempView("songs")

In [ ]:
songs_table.show(5)

In [50]:
# extract columns from joined song and log datasets to create songplays table 
songplays_table = spark.sql("""
SELECT logs.start_time, time_table.year, time_table.month, userId as user_id, level, song_id, artist_id, sessionId as session_id, location, userAgent
FROM logs left join songs on (logs.song = songs.title)
join time_table on (time_table.start_time = logs.start_time)
""")

In [51]:
songplays_table = songplays_table.withColumn("songplay_id", F.monotonically_increasing_id())

In [52]:
songplays_table.show(5)

+--------------------+----+-----+-------+-----+-------+---------+----------+--------------------+--------------------+-----------+
|          start_time|year|month|user_id|level|song_id|artist_id|session_id|            location|           userAgent|songplay_id|
+--------------------+----+-----+-------+-----+-------+---------+----------+--------------------+--------------------+-----------+
|2018-11-15 01:57:...|2018|   11|      9| free|   null|     null|       563|Eureka-Arcata-For...|Mozilla/5.0 (Wind...|          0|
|2018-11-15 03:29:...|2018|   11|     12| free|   null|     null|       521|New York-Newark-J...|Mozilla/5.0 (Wind...|          1|
|2018-11-15 03:44:...|2018|   11|     61| free|   null|     null|       597|Houston-The Woodl...|"Mozilla/5.0 (Mac...|          2|
|2018-11-15 05:34:...|2018|   11|       | paid|   null|     null|       602|                null|                null|          3|
|2018-11-15 05:37:...|2018|   11|     80| paid|   null|     null|       602|Portland-South Po...|"Mozilla/5.0 (Mac...|          4|
+--------------------+----+-----+-------+-----+-------+---------+----------+--------------------+--------------------+-----------+
only showing top 5 rows

In [3]:
#spark = SparkSession.builder.getOrCreate()
spark = SparkSession.builder\
                     .config("spark.jars.packages","org.apache.hadoop:hadoop-aws:2.7.0")\
                     .getOrCreate()

In [4]:
dfSong = spark.read.json("data/song_data/*/*/*/*.json")

In [5]:
dfSong.printSchema()
dfSong.show(5)

root
 |-- artist_id: string (nullable = true)
 |-- artist_latitude: double (nullable = true)
 |-- artist_location: string (nullable = true)
 |-- artist_longitude: double (nullable = true)
 |-- artist_name: string (nullable = true)
 |-- duration: double (nullable = true)
 |-- num_songs: long (nullable = true)
 |-- song_id: string (nullable = true)
 |-- title: string (nullable = true)
 |-- year: long (nullable = true)

+------------------+---------------+-----------------+----------------+--------------------+---------+---------+------------------+--------------------+----+
|         artist_id|artist_latitude|  artist_location|artist_longitude|         artist_name| duration|num_songs|           song_id|               title|year|
+------------------+---------------+-----------------+----------------+--------------------+---------+---------+------------------+--------------------+----+
|ARDR4AC1187FB371A1|           null|                 |            null|Montserrat Caball...|511.16363|        1|SOBAYLL12A8C138AF9|Sono andati? Fing...|   0|
|AREBBGV1187FB523D2|           null|      Houston, TX|            null|Mike Jones (Featu...|173.66159|        1|SOOLYAZ12A6701F4A6|Laws Patrolling (...|   0|
|ARMAC4T1187FB3FA4C|       40.82624|Morris Plains, NJ|       -74.47995|The Dillinger Esc...|207.77751|        1|SOBBUGU12A8C13E95D|Setting Fire to S...|2004|
|ARPBNLO1187FB3D52F|       40.71455|     New York, NY|       -74.00712|            Tiny Tim| 43.36281|        1|SOAOIBZ12AB01815BE|I Hold Your Hand ...|2000|
|ARDNS031187B9924F0|       32.67828|          Georgia|       -83.22295|          Tim Wilson|186.48771|        1|SONYPOM12A8C13B2D7|I Think My Wife I...|2005|
+------------------+---------------+-----------------+----------------+--------------------+---------+---------+------------------+--------------------+----+
only showing top 5 rows

In [6]:
dfSong.createOrReplaceTempView("songs")
df_song_table = spark.sql("""
    SELECT distinct song_id, title, artist_id, year, duration
    FROM songs
""")
df_song_table.write.partitionBy("year", "artist_id").parquet("data/tables/songs", 'overwrite')

In [7]:
df_artist_table = spark.sql("""
    SELECT distinct artist_id, artist_name as name, artist_location as location, artist_latitude as latitude, artist_longitude longitude
    FROM songs
""")
df_artist_table.write.parquet("data/tables/artists", "overwrite")

In [8]:
df_artist_table.show(5)

+------------------+------------+---------------+--------+----------+
|         artist_id|        name|       location|latitude| longitude|
+------------------+------------+---------------+--------+----------+
|ARPBNLO1187FB3D52F|    Tiny Tim|   New York, NY|40.71455| -74.00712|
|ARBEBBY1187B9B43DB|   Tom Petty|Gainesville, FL|    null|      null|
|AR0IAWL1187B9A96D0|Danilo Perez|         Panama|  8.4177| -80.11278|
|ARMBR4Y1187B9990EB|David Martin|California - SF|37.77916|-122.42005|
|ARD0S291187B9B7BF5|     Rated R|           Ohio|    null|      null|
+------------------+------------+---------------+--------+----------+
only showing top 5 rows

In [9]:
df_artist_table.describe()

DataFrame[summary: string, artist_id: string, name: string, location: string, latitude: string, longitude: string]

In [36]:
df = spark.read.json("data/log-data/*.json")
df = df.withColumn("play_time", F.to_timestamp("ts"))
df.createOrReplaceTempView("logs")

In [37]:
df.show(5)

+-----------+---------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-----------------+---------+---------------+------+-------------+--------------------+------+--------------------+
|     artist|     auth|firstName|gender|itemInSession|lastName|   length|level|            location|method|    page|     registration|sessionId|           song|status|           ts|           userAgent|userId|           play_time|
+-----------+---------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-----------------+---------+---------------+------+-------------+--------------------+------+--------------------+
|   Harmonia|Logged In|     Ryan|     M|            0|   Smith|655.77751| free|San Jose-Sunnyval...|   PUT|NextSong|1.541016707796E12|      583|  Sehr kosmisch|   200|1542241826796|"Mozilla/5.0 (X11...|    26|50841-09-12 03:26...|
|The Prodigy|Logged In|     Ryan|     M|            1|   Smith|260.07465| free|San Jose-Sunnyval...|   PUT|NextSong|1.541016707796E12|      583|The Big Gundown|   200|1542242481796|"Mozilla/5.0 (X11...|    26|50841-09-19 17:23...|
|      Train|Logged In|     Ryan|     M|            2|   Smith|205.45261| free|San Jose-Sunnyval...|   PUT|NextSong|1.541016707796E12|      583|       Marry Me|   200|1542242741796|"Mozilla/5.0 (X11...|    26|50841-09-22 17:36...|
|       null|Logged In|    Wyatt|     M|            0|   Scott|     null| free|Eureka-Arcata-For...|   GET|    Home|1.540872073796E12|      563|           null|   200|1542247071796|Mozilla/5.0 (Wind...|     9|50841-11-11 20:23...|
|       null|Logged In|   Austin|     M|            0| Rosales|     null| free|New York-Newark-J...|   GET|    Home|1.541059521796E12|      521|           null|   200|1542252577796|Mozilla/5.0 (Wind...|    12|50842-01-14 13:49...|
+-----------+---------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-----------------+---------+---------------+------+-------------+--------------------+------+--------------------+
only showing top 5 rows

In [12]:
import  pyspark.sql.functions as F

In [13]:
df_songplay_table = spark.sql("""
    SELECT ts as start_time, userId as user_id, level, song_id, artist_id, sessionId as session_id, location, userAgent
    FROM songs, logs WHERE logs.song = songs.title
""")

In [14]:
df_songplay_table = df_songplay_table.withColumn("songplay_id", F.monotonically_increasing_id())

In [15]:
df_songplay_table.show(5)

+-------------+-------+-----+------------------+------------------+----------+--------------------+--------------------+-----------+
|   start_time|user_id|level|           song_id|         artist_id|session_id|            location|           userAgent|songplay_id|
+-------------+-------+-----+------------------+------------------+----------+--------------------+--------------------+-----------+
|1542837407796|     15| paid|SOZCTXZ12AB0182364|AR5KOSW1187FB35FF4|       818|Chicago-Napervill...|"Mozilla/5.0 (X11...|          0|
|1542171963796|     10| free|SOGDBUF12A8C140FAA|AR558FS1187FB45658|       484|Washington-Arling...|"Mozilla/5.0 (Mac...|          1|
|1542618860796|     24| paid|SOGDBUF12A8C140FAA|AR558FS1187FB45658|       672|Lake Havasu City-...|"Mozilla/5.0 (Win...|          2|
|1543358159796|     80| paid|SOGDBUF12A8C140FAA|AR558FS1187FB45658|       992|Portland-South Po...|"Mozilla/5.0 (Mac...|          3|
+-------------+-------+-----+------------------+------------------+----------+--------------------+--------------------+-----------+

In [16]:
df_user_table = spark.sql("""
    SELECT DISTINCT userId as user_id, firstName as first_name, lastName as last_name, gender, level, location, userAgent
    FROM logs
""")

In [17]:
df_user_table.show(5)

+-------+----------+---------+------+-----+--------------------+--------------------+
|user_id|first_name|last_name|gender|level|            location|           userAgent|
+-------+----------+---------+------+-----+--------------------+--------------------+
|     51|      Maia|    Burke|     F| free|Houston-The Woodl...|"Mozilla/5.0 (Win...|
|     94|      Noah|   Chavez|     M| free|Ogden-Clearfield, UT|Mozilla/5.0 (Wind...|
|     24|     Layla|  Griffin|     F| paid|Lake Havasu City-...|"Mozilla/5.0 (Win...|
|     59|      Lily|   Cooper|     F| free|        Columbia, SC|"Mozilla/5.0 (Win...|
|      4|    Alivia|  Terrell|     F| free|Parkersburg-Vienn...|"Mozilla/5.0 (Win...|
+-------+----------+---------+------+-----+--------------------+--------------------+
only showing top 5 rows

In [39]:
df_time_table = spark.sql("""
SELECT 
    start_time, 
    hour(start_time) AS hour,
    day(start_time) AS day,
    weekofyear(start_time) AS week,
    month(start_time) AS month,
    year(start_time) AS year, 
    weekday(start_time) AS weekday 
FROM (
    SELECT DISTINCT cast(ts/1000 as TIMESTAMP) as start_time 
    FROM logs     
    )
""")

In [40]:
df_time_table.show(5)

+--------------------+----+---+----+-----+----+-------+
|          start_time|hour|day|week|month|year|weekday|
+--------------------+----+---+----+-----+----+-------+
|2018-11-15 16:12:...|  16| 15|  46|   11|2018|      3|
|2018-11-21 06:18:...|   6| 21|  47|   11|2018|      2|
|2018-11-21 18:49:...|  18| 21|  47|   11|2018|      2|
|2018-11-14 15:20:...|  15| 14|  46|   11|2018|      2|
|2018-11-05 16:31:...|  16|  5|  45|   11|2018|      0|
+--------------------+----+---+----+-----+----+-------+
only showing top 5 rows